
* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }

  .buscar {
    background-color: #787373;
    border-radius: 10px;
    color: #ffffff;
    padding: 20px;
  }
  
  .buscar label {
    font-weight: bold;
  }
  
  .buscar select,
  .buscar input[type="text"] {
    border-radius: 5px;
    margin-right: 10px;
    padding: 5px;
  }
  
  .buscar button {
    background-color: #ff9900;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    padding: 5px 10px;
  }
  
  .buscar button:hover {
    background-color: #ffad33;
  }
  
  .container {
    margin: auto;
    max-width: 800px;
  }
  
  .text-center {
    text-align: center;
  }

  .titulo{
    color: #000000;
    text-align: center;
  }

  .texto{
  color: #000000;
  }
  
  .mt-2 {
    margin-top: 2rem;
  }
  
  .styled-table {
    border-collapse: collapse;
    font-size: 0.9rem;
    font-weight: bold;
    width: 100%;
  }
  
  .styled-table thead tr th {
    background-color: #007bff;
    color: #fff;
    padding: 12px;
    text-align: left;
  }
  
  .styled-table tbody tr td {
    background-color: #f6f6f6;
    padding: 12px;
  }
  
  .styled-table tbody tr:hover {
    background-color: #e9ecef;
  }
  
  .styled-table td button {
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    padding: 6px 12px;
    transition: all 0.2s ease-in-out;
  }
  
  .styled-table td button:hover {
    background-color: #0069d9;
  }
  
  /* Estilos específicos */
  
  .container-main {
    margin-top: 3rem;
  }
  
  .table-container {
    display: flex;
    justify-content: center;
  }
  
  .table-container .row {
    margin: 0;
  }
  
  .table-container .text-center {
    margin-bottom: 1rem;
  }
  
  #select-local,
  #input-codigo {
    border: 1px solid #000000;
    border-radius: 4px;
    margin-right: 0.5rem;
    padding: 0.5rem;
  }
  
  #btn-buscar,
  #btn-limpiar {
    background-color: #ff9900;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease-in-out;
  }
  
  #btn-buscar:hover,
  #btn-limpiar:hover {
    background-color: #a36912;
  }
  
  @media (max-width: 576px) {
    .styled-table td button {
      font-size: 0.8rem;
    }
  }

  /* Estilos para pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .container {
    padding: 0;
  }

  .buscar {
    align-items: center;
    flex-direction: column;
  }

  #select-local {
    margin-bottom: 1rem;
  }

  .table-container {
    overflow-x: auto;
  }
}

/* Estilos para pantallas más grandes */
@media screen and (min-width: 768px) {
  .container {
    margin: 0 auto;
    max-width: 960px;
  }

  .buscar {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .table-container {
    margin-top: 2rem;
  }
}

  